@tailwind base;
@tailwind components;
@tailwind utilities;

.bgMacbook{
  background-image: url('../public/macbook.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services li::before{
  content: '\2713';
  margin-right: 1rem;
  color: black;
  font-weight: 800;
}
